* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  height: 100vh;
  font-family: Arial, sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-top: 20px;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.calculator-section {
  margin-top: 40px;
  border-radius: 10px;
  width: 30%;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 20px;
}
.dark-light-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.calculator-section.dark-mode {
  background-color: black;
  color: white;
}
.calculator-section.dark-mode .material-symbols-outlined {
  color: white;
}
.display-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}
.display-section h1,
.display-sectionp {
  word-wrap: break-word;
  max-width: 100%;
}
.arithmetic-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.arithmetic-first-row,
.arithmetic-remaining-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
button {
  border-radius: 10px;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  background-color: #4a1a1a;
  transition: background-color 0.2s;
}
button :hover {
  background-color: #ccc;
}
#clr-btn {
  width: 130px;
}

@media (max-width: 768px) {
  .calculator-section {
    width: 90%;
    padding: 20px;
  }
  .title {
    font-size: 48px;
  }
  button {
    width: 55px;
    height: 55px;
    font-size: 18px;
  }
}
